{% extends 'base.html' %}

{% block content %}

<div class="container py-5">
    <h2 class="text-center">Hard Question</h2>
    {% if page_obj %}
        {% for obj in  page_obj %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Question | Вопрос:</h5>
                    <p class="card-text">EN: {{ obj.question_text_en }}</p>
                    <hr>
                    <p class="card-text">RU: {{ obj.question_text_ru }}</p>
                </div>
            </div>

            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Answer | Ответ:</h5>
                    <p class="card-text">EN: {{ obj.answer_text_en }}</p>
                    <hr>
                    <p class="card-text">RU: {{ obj.answer_text_ru }}</p>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <h3 class="my-4 text-center">There are no questions at this moment..</h3>
    {% endif %}
    <br>
    <br>
    {% include 'pagination.html' %}

</div>

{% endblock %}